form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	border: 1px solid #8080802e;
    border-radius: 15px;
    padding: 1.5rem;
	margin: 1rem 0px;
}

form label {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	width: 200px;
}

form input,
form p {
	font-size: 16px;
}

form div + input:last-of-type,
label:last-of-type + input {
	padding:5px;
}

label input {
	transition: 0.3s;
	padding: 5px 10px;
}

label input:focus {
	transform: translate(5px);
}

label:nth-of-type(3) span {
	font-size: 14px;
}
