form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

form label {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	width: 200px;
}

form p {
	font-size: 12px;
}
