.fa-trash-can {
	position: relative;
}

.fa-pencil {
	position: absolute;
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: initial;
}

.post-header {
	font-size: 12px;
}

.post-header span:only-of-type {
	opacity: 70%;
}

.post-header a:nth-of-type(2) {
	font-size: 16px;
	font-weight: bold;
}

.forumPost {
	border: 1px solid #c1c1c1;
	padding: 15px;
	border-radius: 5px;
	margin: 1rem auto;
}

.post-content p:last-of-type {
	font-size: 11px;
}
