form {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

form label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form input[type="checkbox"] {
	width: 25px;
	height: 25px;
}

form label:nth-of-type(5) {
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

form + p {
    
}
