form input[type="checkbox"] {
	width:20px
}

form label:nth-of-type(5) {
	flex-direction: row;
	gap:10px;
}

.fa-trash-can {
	color:#d70a0a;
	font-size: 26px;
}

form select {
	font-size: 18px;
}

form div {
	display: flex;
	align-items: center;
	gap:1rem;
}

form div label {
	width:auto;
	flex-direction: row;
}

form + a:first-of-type,
#simple-details a:first-of-type {
	background-color:#4663a5;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
}

#simple-details {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	gap:1rem;
}

#simple-details p {
	font-size: 18px;
}

#simple-details p:nth-child(odd) {
	font-weight: bold;
}